[submodule "utils"]
    branch = develop
	path = utils
	url = https://github.com/biopet/utils.git
[submodule "tools"]
    branch = develop
	path = tools
	url = https://github.com/biopet/tools.git
[submodule "sbt-biopet"]
    branch = develop
	path = sbt-biopet
	url = https://github.com/biopet/sbt-biopet.git
