[submodule "biopet-report"]
	path = biopet-report
	url = https://github.com/biopet/biopet-report.git
[submodule "biopet-utils"]
	path = biopet-utils
	url = https://github.com/biopet/biopet-utils.git
[submodule "biopet-tools"]
	path = biopet-tools
	url = https://github.com/biopet/biopet-tools.git
